## <b>■ 파이썬으로 머신러닝 구현하기</b>
    1. kNN 알고리즘
    2. naiveBayes 알고리즘
    
### <b>■ naiveBayes 알고리즘으로 타이타닉 생존자 예측</b>
    sklearn 모델 생성 문법
```python
from sklearn import BernoullinB
model = BernoulliNB(alpha=0.4)
```

In [20]:
# 예제. 타이타닉 나이브베이즈 모델 생성 예제
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
n_df = pd.read_csv('train.csv')
df = pd.concat([df,n_df['Name']],axis=1)
appel = df['Name'].str.split(',').str[1].str.split('.')
df['title'] = appel.str.get(0)

# age_m = pd.DataFrame(round(df.groupby('title')['age'].mean(),1))
# df = pd.merge(df, age_m, on='title',how='left')

rdf = df.drop(['embark_town','deck'],axis=1)
rdf

rdf['age'].fillna(rdf['age'].value_counts(dropna=True).idxmax(), inplace=True) # 최빈값으로 치환
rdf['embarked'].fillna(rdf['embarked'].value_counts(dropna=True).idxmax() , inplace=True ) 

rdf.columns.values

ndf = rdf[['survived','pclass','sex','age','sibsp','parch','embarked']]

gender = pd.get_dummies(ndf.sex)
ndf = pd.concat([ndf, gender],axis=1)

oh_embarked = pd.get_dummies(ndf.embarked, prefix='town')
ndf = pd.concat([ndf, oh_embarked], axis=1)
ndf = ndf.drop(['embarked','sex'],axis=1,)

X = ndf[['pclass','age','sibsp','parch','female','male','town_C','town_Q','town_S']]
y = ndf.survived

from sklearn import preprocessing as ppc
X = ppc.StandardScaler().fit(X).transform(X)
X

from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=4)

# 모델 훈련
from sklearn.naive_bayes import BernoulliNB
naive_m = BernoulliNB(alpha=0.3)
naive_m.fit(X_train, y_train)

y_hat = naive_m.predict(X_test)

from sklearn import metrics
naive_matrix = metrics.confusion_matrix(y_test, y_hat)
print(naive_matrix)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score( y_test, y_hat)
print(accuracy)

f1_report = metrics.classification_report(y_test, y_hat)
print(f1_report)

[[153  25]
 [ 28  62]]
0.8022388059701493
              precision    recall  f1-score   support

           0       0.85      0.86      0.85       178
           1       0.71      0.69      0.70        90

    accuracy                           0.80       268
   macro avg       0.78      0.77      0.78       268
weighted avg       0.80      0.80      0.80       268

### ※ 문제226. 여자와 아이 우선이라는 기준하에 파생변수를 추가해서 정확도가 더 올라가는지 확인하시오

In [35]:
# 예제. 타이타닉 나이브베이즈 모델 생성 예제
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
n_df = pd.read_csv('train.csv')
df = pd.concat([df,n_df['Name']],axis=1)
appel = df['Name'].str.split(',').str[1].str.split('.')
df['title'] = appel.str.get(0)

# age_m = pd.DataFrame(round(df.groupby('title')['age'].mean(),1))
# df = pd.merge(df, age_m, on='title',how='left')

rdf = df.drop(['embark_town','deck'],axis=1)
rdf

rdf['age'].fillna(rdf['age'].value_counts(dropna=True).idxmax(), inplace=True) # 최빈값으로 치환
rdf['embarked'].fillna(rdf['embarked'].value_counts(dropna=True).idxmax() , inplace=True ) 

mask = (rdf.age<10) | (rdf.sex == 'female')
rdf['women_child'] = mask.astype(int)

rdf.columns.values

ndf = rdf[['survived','pclass','sex','age','sibsp','parch','embarked','women_child']]

gender = pd.get_dummies(ndf.sex)
ndf = pd.concat([ndf, gender],axis=1)

oh_embarked = pd.get_dummies(ndf.embarked, prefix='town')
ndf = pd.concat([ndf, oh_embarked], axis=1)
ndf = ndf.drop(['embarked','sex'],axis=1,)

X = ndf[['pclass','age','sibsp','parch','female','male','town_C','town_Q','town_S','women_child']]
y = ndf.survived

from sklearn import preprocessing as ppc
X = ppc.StandardScaler().fit(X).transform(X)
X

from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=4)

# 모델 훈련
from sklearn.naive_bayes import BernoulliNB
naive_m = BernoulliNB(alpha=0.4)
naive_m.fit(X_train, y_train)

y_hat = naive_m.predict(X_test)

from sklearn import metrics
naive_matrix = metrics.confusion_matrix(y_test, y_hat)
print(naive_matrix)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score( y_test, y_hat)
print(accuracy)

f1_report = metrics.classification_report(y_test, y_hat)
print(f1_report)

[[157  21]
 [ 25  65]]
0.8283582089552238
              precision    recall  f1-score   support

           0       0.86      0.88      0.87       178
           1       0.76      0.72      0.74        90

    accuracy                           0.83       268
   macro avg       0.81      0.80      0.81       268
weighted avg       0.83      0.83      0.83       268

### ※ 문제227. 현재 라플라스 값이 0.4인데 정확도가 높은 라플라스 값을 찾으시오

In [67]:
# 예제. 타이타닉 나이브베이즈 모델 생성 예제
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
n_df = pd.read_csv('train.csv')
df = pd.concat([df,n_df['Name']],axis=1)
appel = df['Name'].str.split(',').str[1].str.split('.')
df['title'] = appel.str.get(0)

# age_m = pd.DataFrame(round(df.groupby('title')['age'].mean(),1))
# df = pd.merge(df, age_m, on='title',how='left')

rdf = df.drop(['embark_town','deck'],axis=1)
rdf

rdf['age'].fillna(rdf['age'].value_counts(dropna=True).idxmax(), inplace=True) # 최빈값으로 치환
rdf['embarked'].fillna(rdf['embarked'].value_counts(dropna=True).idxmax() , inplace=True ) 

mask = (rdf.age<10) | (rdf.sex == 'female')
rdf['women_child'] = mask.astype(int)

rdf.columns.values

ndf = rdf[['survived','pclass','sex','age','sibsp','parch','embarked','women_child']]

gender = pd.get_dummies(ndf.sex)
ndf = pd.concat([ndf, gender],axis=1)

oh_embarked = pd.get_dummies(ndf.embarked, prefix='town')
ndf = pd.concat([ndf, oh_embarked], axis=1)
ndf = ndf.drop(['embarked','sex'],axis=1,)

X = ndf[['pclass','female','male','town_C','town_Q','town_S','women_child',]]
y = ndf.survived

from sklearn import preprocessing as ppc
X = ppc.StandardScaler().fit(X).transform(X)
X

for i in range(1,101):
    from sklearn.model_selection import train_test_split as tts
    X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=i)

    # 모델 훈련
    from sklearn.naive_bayes import BernoulliNB
    from sklearn import metrics
    from sklearn.metrics import accuracy_score

    naive_m = BernoulliNB()
    naive_m.fit(X_train, y_train)

    y_hat = naive_m.predict(X_test)
    naive_matrix = metrics.confusion_matrix(y_test, y_hat)
    accuracy = accuracy_score( y_test, y_hat)

    f1_report = metrics.classification_report(y_test, y_hat)
    print(f"random_state:{i}\n{accuracy}")

random_state:1
0.7574626865671642
random_state:2
0.7686567164179104
random_state:3
0.7798507462686567
random_state:4
0.8171641791044776
random_state:5
0.7985074626865671
random_state:6
0.8208955223880597
random_state:7
0.7425373134328358
random_state:8
0.7723880597014925
random_state:9
0.7649253731343284
random_state:10
0.8097014925373134
random_state:11
0.8246268656716418
random_state:12
0.7574626865671642
random_state:13
0.7798507462686567
random_state:14
0.8171641791044776
random_state:15
0.7723880597014925
random_state:16
0.7873134328358209
random_state:17
0.753731343283582
random_state:18
0.7910447761194029
random_state:19
0.8059701492537313
random_state:20
0.7873134328358209
random_state:21
0.7910447761194029
random_state:22
0.75
random_state:23
0.7910447761194029
random_state:24
0.8059701492537313
random_state:25
0.7761194029850746
random_state:26
0.7723880597014925
random_state:27
0.7611940298507462
random_state:28
0.7723880597014925
random_state:29
0.7873134328358209
random_state:30
0.7649253731343284
random_state:31
0.7835820895522388
random_state:32
0.7873134328358209
random_state:33
0.8097014925373134
random_state:34
0.7947761194029851
random_state:35
0.7910447761194029
random_state:36
0.8246268656716418
random_state:37
0.7910447761194029
random_state:38
0.8022388059701493
random_state:39
0.7985074626865671
random_state:40
0.7910447761194029
random_state:41
0.8283582089552238
random_state:42
0.7910447761194029
random_state:43
0.746268656716418
random_state:44
0.7611940298507462
random_state:45
0.8208955223880597
random_state:46
0.8022388059701493
random_state:47
0.8097014925373134
random_state:48
0.7798507462686567
random_state:49
0.7835820895522388
random_state:50
0.7873134328358209
random_state:51
0.7798507462686567
random_state:52
0.7985074626865671
random_state:53
0.7835820895522388
random_state:54
0.7761194029850746
random_state:55
0.7649253731343284
random_state:56
0.8619402985074627
random_state:57
0.7910447761194029
random_state:58
0.7574626865671642
random_state:59
0.7574626865671642
random_state:60
0.7761194029850746
random_state:61
0.7761194029850746
random_state:62
0.8022388059701493
random_state:63
0.7947761194029851
random_state:64
0.7873134328358209
random_state:65
0.7947761194029851
random_state:66
0.7985074626865671
random_state:67
0.832089552238806
random_state:68
0.8022388059701493
random_state:69
0.8059701492537313
random_state:70
0.8059701492537313
random_state:71
0.7985074626865671
random_state:72
0.7761194029850746
random_state:73
0.7873134328358209
random_state:74
0.7947761194029851
random_state:75
0.7649253731343284
random_state:76
0.8171641791044776
random_state:77
0.8208955223880597
random_state:78
0.8283582089552238
random_state:79
0.7985074626865671
random_state:80
0.7835820895522388
random_state:81
0.7649253731343284
random_state:82
0.7611940298507462
random_state:83
0.8059701492537313
random_state:84
0.7350746268656716
random_state:85
0.7873134328358209
random_state:86
0.8059701492537313
random_state:87
0.7873134328358209
random_state:88
0.7723880597014925
random_state:89
0.8059701492537313
random_state:90
0.8022388059701493
random_state:91
0.7574626865671642
random_state:92
0.7686567164179104
random_state:93
0.8059701492537313
random_state:94
0.8097014925373134
random_state:95
0.7985074626865671
random_state:96
0.7761194029850746
random_state:97
0.7798507462686567
random_state:98
0.7873134328358209
random_state:99
0.746268656716418
random_state:100
0.7835820895522388

In [71]:
# 예제. 타이타닉 나이브베이즈 모델 생성 예제
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
n_df = pd.read_csv('train.csv')
df = pd.concat([df,n_df['Name']],axis=1)
appel = df['Name'].str.split(',').str[1].str.split('.')
df['title'] = appel.str.get(0)

# age_m = pd.DataFrame(round(df.groupby('title')['age'].mean(),1))
# df = pd.merge(df, age_m, on='title',how='left')

rdf = df.drop(['embark_town','deck'],axis=1)
rdf

rdf['age'].fillna(rdf['age'].value_counts(dropna=True).idxmax(), inplace=True) # 최빈값으로 치환
rdf['embarked'].fillna(rdf['embarked'].value_counts(dropna=True).idxmax() , inplace=True ) 

mask = (rdf.age<10) | (rdf.sex == 'female')
rdf['women_child'] = mask.astype(int)

rdf.columns.values

ndf = rdf[['survived','pclass','sex','age','sibsp','parch','embarked','women_child']]

gender = pd.get_dummies(ndf.sex)
ndf = pd.concat([ndf, gender],axis=1)

oh_embarked = pd.get_dummies(ndf.embarked, prefix='town')
ndf = pd.concat([ndf, oh_embarked], axis=1)
ndf = ndf.drop(['embarked','sex'],axis=1,)

X = ndf[['pclass','female','male','town_C','town_Q','town_S','women_child',]]
y = ndf.survived

from sklearn import preprocessing as ppc
X = ppc.StandardScaler().fit(X).transform(X)
X


from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=56)

# 모델 훈련
from sklearn.naive_bayes import BernoulliNB
from sklearn import metrics
from sklearn.metrics import accuracy_score

naive_m = BernoulliNB()
naive_m.fit(X_train, y_train)

y_hat = naive_m.predict(X_test)
naive_matrix = metrics.confusion_matrix(y_test, y_hat)
accuracy = accuracy_score( y_test, y_hat)

f1_report = metrics.classification_report(y_test, y_hat)
print(accuracy)

0.8619402985074627

### ※ 문제228. seaborn의 타이타닉 말고 Kaggle의 타이타닉을 나이브베이즈 모델을 생성하여 테스트 데이터 예측값을 Kaggle에 올리고 순위를 확인하시오

In [ ]:
# 예제. 타이타닉 나이브베이즈 모델 생성 예제
import pandas as pd
import seaborn as sns

df = pd.read_csv('train.csv')
appel = df['Name'].str.split(',').str[1].str.split('.')
df['title'] = appel.str.get(0)

age_m = pd.DataFrame(round(df.groupby('title')['Age'].mean(),1))
df = pd.merge(df, age_m, on='title',how='left')
df

rdf = df.drop(['Ticket','Cabin'],axis=1)

rdf['Age_x'].fillna(rdf['Age_y'].value_counts(dropna=True).idxmax(), inplace=True)
# rdf.Age_x.fillna(df.Age_y, inplace=True)# 최빈값으로 치환
rdf['Embarked'].fillna(rdf['Embarked'].value_counts(dropna=True).idxmax() , inplace=True ) 

mask = (rdf.Age_x<10) | (rdf.Sex == 'female')
rdf['women_child'] = mask.astype(int)

ndf = rdf[['Survived','Pclass','Sex','Age_x','SibSp','Parch','Embarked','women_child']]

gender = pd.get_dummies(ndf.Sex)
ndf = pd.concat([ndf, gender],axis=1)

oh_embarked = pd.get_dummies(ndf.Embarked, prefix='town')
ndf = pd.concat([ndf, oh_embarked], axis=1)
ndf = ndf.drop(['Embarked','Sex'],axis=1,)
ndf.rename(columns={'Age_x':'Age'},inplace=True)

X = ndf[['Pclass','female','male','town_C','town_Q','town_S','women_child','Age']]
y = ndf.Survived

from sklearn import preprocessing as ppc
X = ppc.StandardScaler().fit(X).transform(X)

from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=56)

# 모델 훈련
from sklearn.naive_bayes import BernoulliNB
from sklearn import metrics
from sklearn.metrics import accuracy_score

naive_m = BernoulliNB().fit(X_train, y_train)

y_hat = naive_m.predict(X_test)
naive_matrix = metrics.confusion_matrix(y_test, y_hat)
accuracy = accuracy_score( y_test, y_hat)

f1_report = metrics.classification_report(y_test, y_hat)
print(accuracy)

In [89]:
import pandas as pd
import seaborn as sns

df2 = pd.read_csv('test.csv')
appel = df2['Name'].str.split(',').str[1].str.split('.')
df2['title'] = appel.str.get(0)

age_m = pd.DataFrame(round(df2.groupby('title')['Age'].mean(),1))
df2 = pd.merge(df2, age_m, on='title',how='left')

rdf2 = df2.drop(['Ticket','Cabin'],axis=1)

rdf2['Age_x'].fillna(rdf2['Age_y'].value_counts(dropna=True).idxmax(), inplace=True)
# rdf.Age_x.fillna(df.Age_y, inplace=True)# 최빈값으로 치환
rdf2['Embarked'].fillna(rdf2['Embarked'].value_counts(dropna=True).idxmax() , inplace=True ) 

mask = (rdf2.Age_x<10) | (rdf2.Sex == 'female')
rdf2['women_child'] = mask.astype(int)

ndf2 = rdf2[['Survived','Pclass','Sex','Age_x','SibSp','Parch','Embarked','women_child']]

gender = pd.get_dummies(ndf2.Sex)
ndf2 = pd.concat([ndf2, gender],axis=1)

oh_embarked = pd.get_dummies(ndf2.Embarked, prefix='town')
ndf = pd.concat([ndf, oh_embarked], axis=1)
ndf = ndf.drop(['Embarked','Sex'],axis=1,)
ndf.rename(columns={'Age_x':'Age'},inplace=True)

X = ndf[['Pclass','female','male','town_C','town_Q','town_S','women_child','Age']]
y = ndf.Survived

from sklearn import preprocessing as ppc
X = ppc.StandardScaler().fit(X).transform(X)

from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=56)

# 모델 훈련
from sklearn.naive_bayes import BernoulliNB
from sklearn import metrics
from sklearn.metrics import accuracy_score

naive_m = BernoulliNB().fit(X_train, y_train)

y_hat = naive_m.predict(X_test)
naive_matrix = metrics.confusion_matrix(y_test, y_hat)
accuracy = accuracy_score( y_test, y_hat)

f1_report = metrics.classification_report(y_test, y_hat)
print(accuracy)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [92]:
from sklearn import metrics
import numpy as np

# 1단계 csv ---> 데이터 프레임으로 변환

import pandas as pd
import seaborn as sns

df = pd.read_csv("train.csv")
pd.set_option('display.max_columns',15)

mask4 = (df.Age<10) | (df.Sex=='female') 
df['child_women']=mask4.astype(int)

print ( df.columns)

# 2.2 결측치(NaN) 을 확인한다.
# 2.3 deck 컬럼과 embark_town 컬럼을 삭제한다.
# 설명 : deck 결측치가 많아서 컬럼을 삭제해야함.
# embark 와 embark_town 이 같은 데이터여서 embark 컬럼을 삭제해야함

rdf = df.drop(['PassengerId','Cabin','Name','Ticket'], axis =1)
print(rdf)

# 2.4 age(나이) 열에 나이가 없는 모든행을 삭제한다.
# 데이터가 한개라도 없으면 drop 해라 (how = 'any')
# 모든 데이터가 없으면 drop 해라 (how = 'all')

print(rdf.shape)

# 나이의 결측치를 최빈값으로 치환
most_freq = rdf['Age'].value_counts(dropna=True).idxmax()  
rdf['Age'].fillna(most_freq, inplace=True)
print(rdf.shape)

# 2.5 embark 열의 NaN 값을 승선도시중 가장 많이 출현한 값으로 치환하기
most_freq = rdf['Embarked'].value_counts().idxmax()
rdf['Embarked'].fillna(most_freq, inplace = True)
print(rdf)

# 3단계 범주형 데이터를 숫자형으로 변환하기
# 3.1 feature selection (분석에 필요한 속성을 선택)
ndf = rdf[['Survived','Pclass','Sex','Age','SibSp','Parch','Embarked','child_women']]
ndf = rdf

# 선택된 컬럼중 2개(sex, embarked) 가 범주형이다.
#3.2 범주형 데이터를 숫자로 변환하기(원핫 인코딩)

gender = pd.get_dummies(ndf['Sex'])
ndf = pd.concat([ndf,gender], axis= 1)
onehot_embarked = pd.get_dummies(ndf['Embarked'])
ndf = pd.concat([ndf,onehot_embarked],axis=1)
ndf.drop(['Sex','Embarked'], axis=1, inplace = True)

# 4단계 정규화
# 4.1 독립변수와 종속변수(라벨) 을 지정한다.
# survived  pclass   age  sibsp  parch  female  male  C  Q  S
#   라벨                       데이터
# 종속변수                     독립변수
x = ndf[ ['Pclass', 'Age' ,'SibSp', 'Parch' ,'female' ,'male', 'C' ,'Q' ,'S',
          'child_women'] ]

y = ndf['Survived'] # 종속변수

# 4.2 독립변수들을 정규화 한다.
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(x).transform(x)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'child_women'],
      dtype='object')
     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

     child_women
0              0
1              1
2              1
3              1
4              0
..           ...
886            0
887            1
888            1
889            0
890            0

[891 rows x 9 columns]
(891, 9)
(891, 9)
     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  24.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

     child_women
0              0
1              1
2              1
3              1
4              0
..           ...
886            0
887            1
888            1
889            0
890            0

[891 rows x 9 columns]
[[ 0.82737724 -0.73769513  0.73769513 ... -0.30756234  0.61583843
  -0.79678252]
 [-1.56610693  1.35557354 -1.35557354 ... -0.30756234 -1.62380254
   1.25504761]
 [ 0.82737724  1.35557354 -1.35557354 ... -0.30756234  0.61583843
   1.25504761]
 ...
 [ 0.82737724  1.35557354 -1.35557354 ... -0.30756234  0.61583843
   1.25504761]
 [-1.56610693 -0.73769513  0.73769513 ... -0.30756234 -1.62380254
  -0.79678252]
 [ 0.82737724 -0.73769513  0.73769513 ...  3.25137334 -1.62380254
  -0.79678252]]

In [94]:
# 테스트 데이터도 훈련 데이터와 같이 데이터를 구성한다.
x_ktest = pd.read_csv("test.csv")
mask4 = (x_ktest.Age<10) | (x_ktest.Sex=='female') 
x_ktest['child_women']=mask4.astype(int)

rdf_x_ktest = x_ktest.drop(['PassengerId','Cabin','Name','Ticket'], axis =1)

most_freq = rdf_x_ktest['Age'].value_counts(dropna=True).idxmax()  # 나이의 결측치를 최빈값으로 치환
rdf_x_ktest['Age'].fillna(most_freq, inplace=True)

most_freq = rdf_x_ktest['Embarked'].value_counts().idxmax() # embark 열의 NaN 값을 승선도시중 가장 많이 출현한 값으로 치환하기
rdf_x_ktest['Embarked'].fillna(most_freq, inplace = True)

# 3단계 범주형 데이터를 숫자형으로 변환하기
# 3.1 feature selection (분석에 필요한 속성을 선택)
#ndf_x_ktest = rdf_x_ktest[['Survived','Pclass','Sex','Age','Sibsp','Parch','Embarked','child_women']]
ndf_x_ktest = rdf_x_ktest

# 선택된 컬럼중 2개(sex, embarked) 가 범주형이다.
gender = pd.get_dummies(ndf_x_ktest['Sex'])
ndf_x_ktest = pd.concat([ndf_x_ktest,gender], axis= 1)
onehot_embarked = pd.get_dummies(ndf_x_ktest['Embarked'])
ndf_x_ktest = pd.concat([ndf_x_ktest,onehot_embarked],axis=1)
ndf_x_ktest.drop(['Sex','Embarked'], axis=1, inplace = True)

# 4단계 정규화
# 4.1 독립변수와 종속변수(라벨) 을 지정한다.
# survived  pclass   age  sibsp  parch  female  male  C  Q  S
#   라벨                       데이터
# 종속변수                     독립변수
x = ndf_x_ktest[ ['Pclass', 'Age' ,'SibSp', 'Parch' ,'female' ,'male', 'C' ,'Q' ,'S', 'child_women'] ]
#y = ndf_x_ktest['Survived'] # 종속변수

# 4.2 독립변수들을 정규화 한다.
from sklearn import preprocessing
X_test = preprocessing.StandardScaler().fit(x).transform(x)

from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB( alpha = 0.4 )
model.fit( X, y )
y_hat = model.predict( X_test )

# Kaggle에 올리기 위한 포맷으로 데이터를 구성한다.
for  i,a  in  enumerate(y_hat):
    print (i+892,',',a)

# # 8단계 모형의 예측능력을 평가한다.

# from sklearn import metrics
# knn_matrix = metrics.confusion_matrix( y_test, y_hat )
# print( knn_matrix )

# tn, fp, fn, tp = metrics.confusion_matrix( y_test, y_hat ).ravel
# f1_report = metrics.classification_report( y_test, y_hat )
# print( f1_report )

# #print(np.array([[tp,fp],[fn,tn]]))

# from sklearn.metrics import accuracy_score
# accuracy = accuracy_score( y_test, y_hat)
# print(accuracy)

892 , 0
893 , 1
894 , 0
895 , 0
896 , 1
897 , 0
898 , 1
899 , 0
900 , 1
901 , 0
902 , 0
903 , 0
904 , 1
905 , 0
906 , 1
907 , 1
908 , 0
909 , 0
910 , 1
911 , 1
912 , 0
913 , 0
914 , 1
915 , 0
916 , 1
917 , 0
918 , 1
919 , 0
920 , 0
921 , 0
922 , 0
923 , 0
924 , 1
925 , 1
926 , 0
927 , 0
928 , 1
929 , 1
930 , 0
931 , 0
932 , 0
933 , 0
934 , 0
935 , 1
936 , 1
937 , 0
938 , 0
939 , 0
940 , 1
941 , 1
942 , 0
943 , 0
944 , 1
945 , 1
946 , 0
947 , 0
948 , 0
949 , 0
950 , 0
951 , 1
952 , 0
953 , 0
954 , 0
955 , 1
956 , 0
957 , 1
958 , 1
959 , 0
960 , 0
961 , 1
962 , 1
963 , 0
964 , 1
965 , 0
966 , 1
967 , 0
968 , 0
969 , 1
970 , 0
971 , 1
972 , 1
973 , 0
974 , 0
975 , 0
976 , 0
977 , 0
978 , 1
979 , 1
980 , 1
981 , 1
982 , 1
983 , 0
984 , 1
985 , 0
986 , 0
987 , 0
988 , 1
989 , 0
990 , 1
991 , 0
992 , 1
993 , 0
994 , 0
995 , 0
996 , 1
997 , 0
998 , 0
999 , 0
1000 , 0
1001 , 0
1002 , 0
1003 , 1
1004 , 1
1005 , 1
1006 , 1
1007 , 0
1008 , 0
1009 , 1
1010 , 0
1011 , 1
1012 , 1
1013 , 0
1014 , 1
1015 , 0
1016 , 0
1017 , 1
1018 , 0
1019 , 1
1020 , 0
1021 , 0
1022 , 0
1023 , 0
1024 , 1
1025 , 0
1026 , 0
1027 , 0
1028 , 0
1029 , 0
1030 , 1
1031 , 0
1032 , 1
1033 , 1
1034 , 0
1035 , 0
1036 , 0
1037 , 0
1038 , 0
1039 , 0
1040 , 0
1041 , 0
1042 , 1
1043 , 0
1044 , 0
1045 , 1
1046 , 0
1047 , 0
1048 , 1
1049 , 1
1050 , 0
1051 , 1
1052 , 1
1053 , 1
1054 , 1
1055 , 0
1056 , 0
1057 , 1
1058 , 0
1059 , 0
1060 , 1
1061 , 1
1062 , 0
1063 , 0
1064 , 0
1065 , 0
1066 , 0
1067 , 1
1068 , 1
1069 , 0
1070 , 1
1071 , 1
1072 , 0
1073 , 0
1074 , 1
1075 , 0
1076 , 1
1077 , 0
1078 , 1
1079 , 0
1080 , 1
1081 , 0
1082 , 0
1083 , 0
1084 , 0
1085 , 0
1086 , 0
1087 , 0
1088 , 1
1089 , 1
1090 , 0
1091 , 1
1092 , 1
1093 , 0
1094 , 0
1095 , 1
1096 , 0
1097 , 0
1098 , 1
1099 , 0
1100 , 1
1101 , 0
1102 , 0
1103 , 0
1104 , 0
1105 , 1
1106 , 1
1107 , 0
1108 , 1
1109 , 0
1110 , 1
1111 , 0
1112 , 1
1113 , 0
1114 , 1
1115 , 0
1116 , 1
1117 , 1
1118 , 0
1119 , 1
1120 , 0
1121 , 0
1122 , 0
1123 , 1
1124 , 0
1125 , 0
1126 , 0
1127 , 0
1128 , 0
1129 , 0
1130 , 1
1131 , 1
1132 , 1
1133 , 1
1134 , 0
1135 , 0
1136 , 0
1137 , 0
1138 , 1
1139 , 0
1140 , 1
1141 , 1
1142 , 1
1143 , 0
1144 , 0
1145 , 0
1146 , 0
1147 , 0
1148 , 0
1149 , 0
1150 , 1
1151 , 0
1152 , 0
1153 , 0
1154 , 1
1155 , 1
1156 , 0
1157 , 0
1158 , 0
1159 , 0
1160 , 1
1161 , 0
1162 , 0
1163 , 0
1164 , 1
1165 , 1
1166 , 0
1167 , 1
1168 , 0
1169 , 0
1170 , 0
1171 , 0
1172 , 1
1173 , 0
1174 , 1
1175 , 1
1176 , 1
1177 , 0
1178 , 0
1179 , 0
1180 , 0
1181 , 0
1182 , 0
1183 , 1
1184 , 0
1185 , 0
1186 , 0
1187 , 0
1188 , 1
1189 , 0
1190 , 0
1191 , 0
1192 , 0
1193 , 0
1194 , 0
1195 , 0
1196 , 1
1197 , 1
1198 , 0
1199 , 0
1200 , 0
1201 , 1
1202 , 0
1203 , 0
1204 , 0
1205 , 1
1206 , 1
1207 , 1
1208 , 0
1209 , 0
1210 , 0
1211 , 0
1212 , 0
1213 , 0
1214 , 0
1215 , 0
1216 , 1
1217 , 0
1218 , 1
1219 , 0
1220 , 0
1221 , 0
1222 , 1
1223 , 0
1224 , 0
1225 , 1
1226 , 0
1227 , 0
1228 , 0
1229 , 0
1230 , 0
1231 , 0
1232 , 0
1233 , 0
1234 , 0
1235 , 1
1236 , 0
1237 , 1
1238 , 0
1239 , 1
1240 , 0
1241 , 1
1242 , 1
1243 , 0
1244 , 0
1245 , 0
1246 , 1
1247 , 0
1248 , 1
1249 , 0
1250 , 0
1251 , 1
1252 , 0
1253 , 1
1254 , 1
1255 , 0
1256 , 1
1257 , 1
1258 , 0
1259 , 1
1260 , 1
1261 , 0
1262 , 0
1263 , 1
1264 , 0
1265 , 0
1266 , 1
1267 , 1
1268 , 1
1269 , 0
1270 , 0
1271 , 0
1272 , 0
1273 , 0
1274 , 1
1275 , 1
1276 , 0
1277 , 1
1278 , 0
1279 , 0
1280 , 0
1281 , 0
1282 , 0
1283 , 1
1284 , 0
1285 , 0
1286 , 0
1287 , 1
1288 , 0
1289 , 1
1290 , 0
1291 , 0
1292 , 1
1293 , 0
1294 , 1
1295 , 0
1296 , 0
1297 , 0
1298 , 0
1299 , 0
1300 , 1
1301 , 1
1302 , 1
1303 , 1
1304 , 1
1305 , 0
1306 , 1
1307 , 0
1308 , 0
1309 , 0