## <b>■ 3장 데이터 살펴보기</b>
    머신러닝 모델을 생성하기 전에 데이터를 살펴보면서 머신러닝 모델을 생성하기에 적합한 데이터인지 
    어떠한 머신러닝 알고리즘을 적용해야하는 데이터인지 파악하기 위해 데이터를 살펴보는 방법을 배운다
     ex) R : str(), summary()
### <b>■ 3.1 데이터프레임의 내용과 자료형 확인하기</b>
```python
    head() : 처음 5개 행 확인
    tail() : 마지막 5개 행 확인
    shape() : DataFrame의 row, column 확인
    dtype() : DataFrame의 자료형 확인
    describe() : DataFrame의 기술통계정보 확인
```

In [2]:
# 예제
import pandas as pd
emp=pd.read_csv('emp.csv')
emp.head(), emp.tail()

(   empno   ename        job     mgr    hiredate   sal    comm  deptno
 0   7839    KING  PRESIDENT     NaN  1981-11-17  5000     NaN      10
 1   7698   BLAKE    MANAGER  7839.0  1981-05-01  2850     NaN      30
 2   7782   CLARK    MANAGER  7839.0  1981-05-09  2450     NaN      10
 3   7566   JONES    MANAGER  7839.0  1981-04-01  2975     NaN      20
 4   7654  MARTIN   SALESMAN  7698.0  1981-09-10  1250  1400.0      30,
     empno   ename      job     mgr    hiredate   sal  comm  deptno
 9    7902    FORD  ANALYST  7566.0  1981-12-11  3000   NaN      20
 10   7369   SMITH    CLERK  7902.0  1980-12-09   800   NaN      20
 11   7788   SCOTT  ANALYST  7566.0  1982-12-22  3000   NaN      20
 12   7876   ADAMS    CLERK  7788.0  1983-01-15  1100   NaN      20
 13   7934  MILLER    CLERK  7782.0  1982-01-11  1300   NaN      10)

### ※ 문제81. emp의 위의 5개 행이 아닌 10개 행이 출력되게 하시오

In [3]:
emp.head(10)

   empno   ename        job     mgr    hiredate   sal    comm  deptno
0   7839    KING  PRESIDENT     NaN  1981-11-17  5000     NaN      10
1   7698   BLAKE    MANAGER  7839.0  1981-05-01  2850     NaN      30
2   7782   CLARK    MANAGER  7839.0  1981-05-09  2450     NaN      10
3   7566   JONES    MANAGER  7839.0  1981-04-01  2975     NaN      20
4   7654  MARTIN   SALESMAN  7698.0  1981-09-10  1250  1400.0      30
5   7499   ALLEN   SALESMAN  7698.0  1981-02-11  1600   300.0      30
6   7844  TURNER   SALESMAN  7698.0  1981-08-21  1500     0.0      30
7   7900   JAMES      CLERK  7698.0  1981-12-11   950     NaN      30
8   7521    WARD   SALESMAN  7698.0  1981-02-23  1250   500.0      30
9   7902    FORD    ANALYST  7566.0  1981-12-11  3000     NaN      20

### ※ 문제82. emp dataFrame의 column들의 자료형을 확인하시오

In [5]:
emp.dtypes

empno         int64
ename        object
job          object
mgr         float64
hiredate     object
sal           int64
comm        float64
deptno        int64
dtype: object

### ※ 문제83. emp dataFrame이 몇 행 몇 열인지 확인하시오

In [7]:
emp.shape

(14, 8)

### ※ 문제84. emp dataFrame의 column들의 기술통계정보를 출력하시오

In [8]:
emp.describe

<bound method NDFrame.describe of     empno   ename        job     mgr    hiredate   sal    comm  deptno
0    7839    KING  PRESIDENT     NaN  1981-11-17  5000     NaN      10
1    7698   BLAKE    MANAGER  7839.0  1981-05-01  2850     NaN      30
2    7782   CLARK    MANAGER  7839.0  1981-05-09  2450     NaN      10
3    7566   JONES    MANAGER  7839.0  1981-04-01  2975     NaN      20
4    7654  MARTIN   SALESMAN  7698.0  1981-09-10  1250  1400.0      30
5    7499   ALLEN   SALESMAN  7698.0  1981-02-11  1600   300.0      30
6    7844  TURNER   SALESMAN  7698.0  1981-08-21  1500     0.0      30
7    7900   JAMES      CLERK  7698.0  1981-12-11   950     NaN      30
8    7521    WARD   SALESMAN  7698.0  1981-02-23  1250   500.0      30
9    7902    FORD    ANALYST  7566.0  1981-12-11  3000     NaN      20
10   7369   SMITH      CLERK  7902.0  1980-12-09   800     NaN      20
11   7788   SCOTT    ANALYST  7566.0  1982-12-22  3000     NaN      20
12   7876   ADAMS      CLERK  7788.0  1983-01-15  1100     NaN      20
13   7934  MILLER      CLERK  7782.0  1982-01-11  1300     NaN      10>